
<div class="container-fluid">

  <div class="card">
    <div class="card-header">
      <h5>
        <i class="bi bi-funnel-fill"></i>
        Filter
      </h5>
    </div>

    <div class="card-body">
      <form [formGroup]="searchFilterForm">
        <div class="row">
          <!-- 12 Col -->
          <div class="col-lg-4 col-md-4 col-sm-12">
            <label for="employeeName" class="form-label">Name</label>
            <input type="text" class="form-control" id="employeeName" formControlName="name"
              placeholder="Employee Name">
          </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="position" class="form-label">Position</label>
              <select id="position" class="form-select"
                formControlName="positionId">
                @for(item of positions; track item.id){
                <option [ngValue]="item.id">{{item.name}}</option>
                }
              </select>

            </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <label for="status" class="form-label">Status</label>
            <select id="status" class="form-select"
                formControlName="status">
                @for(item of employeeStatus; track item.value){
                <option [ngValue]="item.value">{{item.name}}</option>
                }
              </select>
          </div>

        </div>
      </form>

      <div class="mt-2 text-end">
        <button type="button" class="btn btn-outline-secondary"
          (click)="loadEmployees()">
          <i class="bi bi-search"></i>
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header card-table-header">
      <h5>Employees</h5>
      <div>
        <button type="button" class="btn btn-outline-secondary"
          data-bs-toggle="modal" data-bs-target="#saveEmployee"
          (click)="loadSaveDialog();">
          <i class="bi bi-person-fill-add"></i>
          Add Employee
        </button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            @for(col of employeesTableColumns; track col){
            <th>{{col}}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(employee of employees | paginate: paginationConfig; track
          employee.id){
          <tr>
            <td>{{employee.firstName}} {{employee.lastName}}</td>
            <td>{{employee.positionName}}</td>
            <td>{{employee.birthdate | date:'dd/MM/yyyy'}}</td>
            <td>
              @if(employee.isActive){

              <span class="badge text-bg-success">Active</span>

              }
              @else {

              <span class="badge text-bg-danger">Inactive</span>
              }
            </td>
            <td>{{employee.email}}</td>
            <td>{{employee.salary | currency:"USD"}}</td>
            <td>{{employee.departmentName}}</td>
            <td>{{employee.managerName}}</td>
            <td>
              <button type="button" class="btn btn-outline-success"
                (click)="loadEmployeeForm(employee.id)"
                data-bs-toggle="modal" data-bs-target="#saveEmployee">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button type="button" class="btn btn-outline-danger ms-2"
                (click)="removeEmployee(employee.id)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      <pagination-controls (pageChange)="changePage($event)"
        class="text-end mt-2"></pagination-controls>
    </div>
  </div>

</div>

<div class="modal modal-lg fade" id="saveEmployee" tabindex="-1"
  aria-labelledby="saveEmployee" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="saveEmployeeLabel">Save Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="row align-end">

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName"
                formControlName="firstName"
                placeholder="First Name">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName"
                formControlName="lastName"
                placeholder="Last Name">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="birthdate" class="form-label">Birthdate</label>
              <input type="date" class="form-control" id="birthdate"
                formControlName="birthdate"
                placeholder="Birthdate">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email"
                formControlName="email"
                placeholder="Email">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="salary" class="form-label">Salary</label>
              <input type="number" class="form-control" id="salary"
                formControlName="salary"
                placeholder="Salary">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phone"
                formControlName="phone"
                placeholder="Phone Number">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="startDate"
                formControlName="startDate"
                placeholder="Start Date">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="endDate" class="form-label">End Date</label>
              <input type="date" class="form-control" id="endDate"
                formControlName="endDate"
                placeholder="End Date">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="department" class="form-label">Department</label>
              <select id="department" class="form-select"
                formControlName="departmentId">
                @for(item of departments; track item.id){
                <option [ngValue]="item.id">{{item.name}}</option>
                }
              </select>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="position" class="form-label">Position</label>
              <select id="position" class="form-select"
                formControlName="positionId">
                @for(item of positions; track item.id){
                <option [ngValue]="item.id">{{item.name}}</option>
                }
              </select>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <label for="manager" class="form-label">Manager</label>
              <select id="manager" class="form-select"
                formControlName="managerId">
                @for(item of managers; track item.id){
                <option [ngValue]="item.id">{{item.name}}</option>
                }
              </select>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch"
                  formControlName="isActive"
                  id="isActive">
                <label class="form-check-label" for="isActive">Is Active</label>
              </div>

            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal" id #closeModal>Close</button>
        <button type="button" class="btn btn-primary"
          [disabled]="employeeForm.invalid" (click)="saveEmployee()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
